$kaushan-font: 'Kaushan Script';
$montserratR-font: 'MontserratR';
$montserratSB-font: 'MontserratSB';
$montserratB-font: 'MontserratB';
$robotoS-font: 'Roboto Slab';
$robotoI-font: 'RobotoI';

//SASS
$white-color: #ffffff;
$yellow-color: #fce38a;
$dark-grey-color: #333333;
$light-grey-color: #999999;
$light-green-color: #7debd6;
$pink-color: #f38181;
