* {
 margin: 0;
 padding: 0;
 box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
} 

ul {
    list-style: none;
}


.clearfix::after {
    display: table;
    content: "";
    clear: both;
}


/* NAVIGATION */
.logo {
    font-family: "Roboto", serif;
    font-size: 30px;
    font-weight: 500;
    color: black;
    float: left;
    text-transform: uppercase;
}

.logo:first-letter {
    color: #1abc9c;
    font-family: "Roboto", serif;
    font-size: 30px;
    font-weight: 700;
}

.header__list-item {
    float:  left;          
}

.header__list-link {
    font-family: "OpenSans bold", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: black;
    text-transform: uppercase;
}
 a:hover{
color: #1abc9c; 
 }

.header__list-item:not(:last-child) {
    margin-right: 30px;
}

.site-navigation {
    font-family: "OpenSans bold", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: black;
    text-transform: uppercase;
    margin-top: 10px;
}

.site-navigation {
    float: right;
    /* margin-top: 43px; */
}

.navigation {
    margin-bottom: 32px;
    margin-top: 43px;
}
/* MAIN */
.container {
    width: 1110px;
    margin: 0 auto;
}

.main {
    background-color: #e9f0fd;
}

.titles {
    position: absolute;
    width: 840px;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
}

.site-background {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
}


.container.slider-content {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 174px;
    transform: translate(-50%, -50%);
}
 
.slider {
    position: relative;
}

.slider:before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    margin-bottom: 105px;
    background-color: rgba(85, 85, 85, .5);
}

.slider__buttons {
position: absolute;
width: 100%;
}

.prev {
    float: left;
    background-image: url("../img/arrow-prev.png");
    cursor: pointer;
}

.next {
    float: right;
    background-image: url("../img/arrow-next.png");
    cursor: pointer;
}

.slider__button {
    width: 103px;
    height: 104px;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(84, 160, 142, .7);
}

.slider-title {
    font-family: "Roboto black", sans-serif;
    font-size: 60px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    text-align: left;
    /* position: absolute; */
    margin-bottom: 37px;
    margin-top: 0px;
}

.slider-subtitle {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 100;
    color: #ffffff;
    text-transform: uppercase;
    text-align: left;
    /* position: absolute; */
}

/* NEW COLLECTION */

.collection-title {
    font-size: 48px;
    font-family: "Roboto";
    color: #555252;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    margin-bottom: 70px; 
    margin-top: 105px;
  }
  
  .collection-title::after {
     content: "";  
     display: block; 
     width: 164px;
     height: 7px; 
     background-color: #1abc9c; 
     margin: 0 auto;  
     margin-top: 30px;                              
  }
  
  .collection-list-item {
      width: 255px;
      float: left; 
      margin-right: 30px; 
      padding: 0;  
      position: relative;  
  }
  
  .gallery {
      padding-bottom: 105px;
  }
  
  .collection-list-box:hover .product-name {
  background-color: #1abc9c;
  }
  
  .collection-list-box:hover .product-price {
      background-color: #7fd9c7;
      }
  
  .collection-list {
      padding: 0;
  }

 .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 252px;
    background-color:rgba(85, 85, 85, .5);
    background-clip: padding-box;
    opacity: 0;
    border: 10px solid rgba(255, 255, 255, .5);
 }

.collection-list-item:hover .overlay{
opacity: 1;
}

.item-button {
display: inline-block;
border: 1px solid white;
width: 50px;
height: 50px;
background-repeat: no-repeat;
background-position: center;
}


.heart {
    background-image: url(../img/heart.png);
}

.arrows {
    background-image: url(../img/arrows.png);
    margin: 0 9px 0 9px;
}

.clock {
background-image: url(../img/clock.png);
}

.cart-button {
display: inline-block;
border: 1px solid white;
width: 166px;
height: 50px;
background-repeat: no-repeat;
background-position: left;
background-color: #323232;
margin-top: 7px;
color: #ffffff;
font-size: 14px;
text-transform: uppercase;
font-family: "OpenSans", sans-serif;
padding: 17px 0 6px 25px;
background-position: bottom 12px right 123px;
}

.cart-button:hover {
    color: #fff;
}

.cart {
    background-image: url(../img/bascket.png);
}

.item-buttons {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    width: 100%;
    font-size: 0;
    text-align: center;
}

.item-button:hover {
    background-color: #1abc9c;
}
  /* .collection-list-item:nth-child(n+4) {
      margin-bottom: 0;
  } */
  
  .box {
      background-color: #323232;
      margin: 0;
      padding: 0;
      width: 255px;
      height: 40px;
  }
  
  .product-name {
      width: 200px;
      float: left;
      font-family: "Roboto";
      font-weight: 600; 
      font-size: 18px;
      color: #ffffff;
      text-transform: uppercase;
      text-indent: 12px;
      margin: 0;
      padding: 0;
      line-height: 40px;
  }
  
  
  .product-price {
      width: 55px;
      float: right;
      background-color: #8c8c8c;
      text-indent: 12px;
      text-transform: uppercase;
      font-family: "Roboto";
      font-weight: 600; 
      font-size: 18px;
      color: #ffffff;
      margin: 0;
      padding: 0;
      line-height: 40px;
  }
  
  .collection-list-item:nth-child(4n) {
  margin-right: 0;
  }

  /* FOOTER */
  .footer {
    padding: 38px 0 38px 0;
    background-color: #323232;
    text-align: center; 
}
  
.text {
    font-family: "OpenSans", sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-transform: capitalize;
    color: #ffffff;
    margin-bottom: 40px;
}

.author-name {
    font-family: "OpenSans", sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-transform: capitalize;
    color: #ffffff;
}