html {
  box-sizing:border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* * {
  outline: 1px solid red;
}
*/ 

body {
  font-family: "Playfair Display", serif;
  color: #626262;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  background-color: #ffffff;
}

.container {
  width: 900px;
  margin: 0 auto;
}

/* NAVIGATION MENU */
.nav li { 
  display: inline-block;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-right: 120px;
}

.nav li:last-child {
margin-right: 0;
padding: 0;
}

.nav a {
  text-decoration: none;
  font-size: 15px;
  color: #626262; 
  display: block;
  font-family: "Playfair Display", serif;
}

.nav {
  text-align: center;
  list-style: none;
  padding-bottom: 100px;
  padding-top: 74px;
}

a:hover {
  color: #03a9f4;
}
/* MAIN CONTENT */
.section {
  font-size: 0;
  padding-bottom: 150px;
}

.article {
display: inline-block;
width: 420px;
margin-right: 0px;
margin-bottom: 132px;
}

.article:nth-child(2n) {
  margin-right: 60px; 
}

.subtitle {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 14px;
  margin: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
}
 
.title {
  font-family: "Playfair Display", serif;
  font-size: 30px; 
  font-weight: 400;
  margin: 0;
  margin-bottom: 20px;
}

 .content {
  font-size: 14px;
  font-family: "PlayfairDisplay";
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  }
  
 .image {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.load {
  border: 1px solid #626262;
  /* height: 58px;
  width: 165px; */
  font-size: 20px;
  font-family: "Playfair Display";
  font-weight: 400;
  color: #626262;
  line-height: 24px;
  padding: 22px 34px;
  }
  
button {
   display: block;
   background-color: #ffffff;
   margin: 0 auto;
   margin-bottom: 70px;
  }

button:hover {
    background-color: #ece9e9;
  }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border:0;
    padding: 0;
    white-space:nowrap;
    clip-path:inset(100%);
    clip: rect(0 0 0 0);
    overflow:hidden;
} 